[SddmGreeterTheme]
Name=Void
Description=Very minimal sddm theme.
Author=Talyam
Version=1.0
MainScript=Main.qml
Theme-Id=void
QtVersion=6

ConfigFile=configs/default.conf
; configs/default.conf
; configs/gruvbox.conf
; configs/everforest.conf
; configs/catppuccin.conf
; configs/nord.conf
; configs/coffee.conf